<template>
    <div class="points">
        <div v-if="offers.length === 0">Offer list is empty</div>
        <div class="points__list"
             v-else>
            <div class="points__item"
                 v-for="(offerItem, offerIndex) in offers">
                <header class="points__header">
                    <h2 class="points__title">
                        {{ offerItem.name }}
                    </h2>
                    <div class="points__address">
                        {{ offerItem.address }}
                    </div>
                    <button type="button"
                            class="points__button points__button--remove-item"
                            @click="removeOffer(offerItem.id, offerIndex)">remove</button>
                </header>
                <div class="points__body">
                    <div class="points__description">
                        {{ offerItem.description }}
                    </div>
                </div>
                <div class="points__footer">
                    <span class="points__date">
                        {{ offerItem.date }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    props: ['offers'],
    data() {
      return {
        address: '',
        description: '',
      }
    },
    methods: {
      removeOffer(offerId, offerIndex) {
        const dataToRemove = `id=${offerId}`;

        axios.post('/ad/delete', dataToRemove)
          .then(() => {
            this.offers.splice(offerIndex, 1);
          });
      }
    }
  }
</script>

<style scoped lang="scss" >
    .points {
        width: 65%;
        &__item {
            position: relative;
            width: 100%;
            margin-bottom: 20px;
            background: #efefef;
        }
        &__header {
            padding: 10px 20px 5px;
        }
        &__title {
            font-size: 24px;
            line-height: 26px;
        }
        &__address {
            font-size: 14px;
        }
        &__button {
            background: transparent;
            border: none;
            color: #000;
            cursor: pointer;
            &--remove-item {
                position: absolute;
                top: 10px;
                right: 20px;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        &__body {
            padding: 10px 20px 20px;
            color: #636b6f;
            font-size: 16px;
            line-height: 19px;
        }
        &__footer {
            padding: 10px 20px;
            text-align: right;
        }
    }
</style>
