<template lang="html">
    <div class="points-form">
        <form ref="addOfferForm"
              @submit.prevent="submitValues">
            <h2 class="points-form__title">
                Add new offer
            </h2>
            <div class="points-form__body">
                <div class="points-form__field-item">
                    <input type="text" 
                           placeholder="offer title"
                           class="points-form__input"
                           name="name"
                           v-model="name">
                </div>
                <div class="points-form__field-item">
                    <input type="text"
                           placeholder="rate"
                           class="points-form__input"
                           name="rate"
                           v-model="address">
                </div>
                <div class="points-form__field-item">
                    <textarea class="points-form__textarea" 
                              placeholder="offer description"
                              name="description"
                              v-model="description"></textarea>
                </div>
            </div>
            <footer class="points-form__footer">
                <button class="points-form__button points-form__button--add" 
                        type="submit">Add</button>
            </footer>
        </form>
    </div>
</template>



<script>
  import MaskedInput from 'vue-masked-input';

  export default {
    components: {
      MaskedInput
    },
    data() {
      return {
        name: '',
        address: '',
        description: '',
      }
    },

    methods: {
      submitValues() {
        const newOfferData = $(this.$refs.addOfferForm).serialize();

        axios.post('/ad/create', newOfferData)
          .then((response) => {
            const newOfferId = response.data.id;

            this.$emit('addoffer', {
              id: newOfferId,
              name: this.name,
              address: this.address,
              description: this.description,
            });
          });
      }
    },
  }
</script>

<style scoped lang="scss">
    .points-form {
        width: 35%;
        padding: 0 20px 20px;
        &__title {
            font-size: 18px;
            margin-bottom: 20px;
        }
        &__field-item {
            width: 100%;
            margin-bottom: 20px;
        }
        &__input,
        &__textarea {
            width: 100%;
            padding: 5px 10px;
        }
        &__textarea {
            max-width: 100%;
            min-width: 100%;
            min-height: 100px;
        }
        &__button {
            display: block;
            margin: 0 auto;
            background: transparent;
            cursor: pointer;
            &--add {
                border: 1px solid #636b6f;
                padding: 10px 40px;
            }
        }
    }
</style>
